@model alkemyChallengeCSharp.Models.Profesor

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Baja de profesor</h1>


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos de @Model.NombreYApellido</h5>
                <hr />
                <dl class="row">
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Apellido)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Dni)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Dni)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Activo)
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.Activo)
                        {
                            <span>Si</span>
                        }
                        else
                        {
                            <span>No</span>
                        }

                    </dd>
                </dl>
            </div>
            <hr />
            <form asp-action="Delete" class="mx-auto">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Dar De Baja" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>