@model alkemyChallengeCSharp.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos de @Model.Nombre</h5>
                <hr />
                <dl class="row">
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Horario)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Horario)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.Profesor)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Profesor.NombreYApellido)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.MaxAlumnos)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MaxAlumnos)
                    </dd>
                </dl>
            </div>
            <hr />
            <div class="form-group mx-auto">
                @if (User.IsInRole(nameof(Rol.Administrador)))
                {
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
                        Editar
                    </a>
                }
                <a asp-action="Index" class="btn btn-success">
                    Inscribirse
                </a>
                <a asp-action="Index" class="btn btn-danger">
                    Volver
                </a>
            </div>
        </div>
    </div>
</div>
