@model IEnumerable<alkemyChallengeCSharp.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

@{bool esAlumno = ViewBag.EsAlumno;}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary" hidden="@esAlumno">Crear Materia</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Horario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profesor)
                </th>
                <th>
                    Cantidad de cupos
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Horario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profesor.NombreYApellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxAlumnos)
                    </td>
                    <td>
                        <a class="btn btn-outline-warning btn-sm ml-1" asp-action="Edit" asp-route-id="@item.Id" hidden="@esAlumno">Editar</a>
                        <a class="btn btn-outline-success btn-sm ml-1" asp-action="Details" asp-route-id="@item.Id">Ver detalles</a>
                        <a class="btn btn-outline-danger btn-sm ml-1" asp-action="Delete" asp-route-id="@item.Id" hidden="@esAlumno">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
